.nav-col::-webkit-scrollbar{display: none}
.nav-col{scrollbar-width: none; border-right: 1px solid #ddd; padding-right: 0vw;}
.nav-link{display: flex; justify-content: flex-start; align-items: center; font-weight: 600}
.nav-link-icon{margin-right: 1vw;}

.vm-allocation{display: flex; justify-content: space-evenly;}

#create-test-config-container::-webkit-scrollbar,
#create-test-list::-webkit-scrollbar,
#test-title::-webkit-scrollbar, 
.run-left-col::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar
{display: none;}

#create-test-config-container,
#create-test-list,
#test-title, 
.run-left-col,
.hide-scrollbar
{scrollbar-width: none;}

.vm-pubsub-allocation, .vm-mal-pubsub-allocation{font-weight: bold}

td > a, td > a:hover{
    color: inherit;
}

.analyse-participants-row{display: flex; justify-content: space-evenly}