{% extends 'base.html' %}

{% block title %}
	PEAT - Create Test
{% endblock %}

{% block pagetitle %}
Create
{% endblock %}

{% block content %}
<div class="row container">
	<div class="col-3">
		<ul class="list-group" id="create-test-list" style="overflow-y: scroll; max-height: 80vh">
			<li class="list-group-item text-secondary" style="display: flex; justify-content: start; align-items: center">
				<ion-icon name="build-outline"></ion-icon><strong style="margin-left: 2%;">{{data["test_amount"]}} total tests</strong>
			</li>
			{% for test in data["tests"]:%}
			<a href="/create/{{test['name']}}/{{test['config']}}" class="list-group-item list-group-item-action">
				<h3 style="overflow-wrap: break-word;">{{test['name']}}</h3>
				<p style="display: flex; justify-content: space-between; align-items: center;">
					<span>
						<strong>{{test["pub_amount"]}}P + {{test["sub_amount"]}}S, </strong>
						<strong class="text-danger">{{test["mal_pub_amount"]}}P + {{test["mal_sub_amount"]}}S</strong>
					</span>
					<span style="font-size: 1.2em">
						x {{test['runs']}}
					</span>
				</p>
				<p style="display: flex; justify-content: start; align-items: center;">
					<ion-icon name="settings-outline"></ion-icon>
					<span style="margin-left: 2%;">{{test['config']}}</span>
				</p>
			</a>
			{% endfor %}
		</ul>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-body" style="height: 85vh; display: flex; align-items: center; justify-content: center">
				<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
					<img style="width: 50%; height: 50%" src="https://img.freepik.com/free-vector/flat-design-biotechnology-concept-illustrated_23-2148893543.jpg?t=st=1653328227~exp=1653328827~hmac=26cfee3280e1b9c0c521a2cfbd9b17deefd28cda09cd44c9210b30e9543e962c&w=740" alt="Empty Test">
					<p class="text-secondary">Select a test on the left to view it's details.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}